<form action="/edit/<%= item._id %>" method="post">

    <label for=""> Item </label>
    <input type="text" name="itemName" value="<%= item.itemName %>" />
    <br>
    <label for=""> Price </label>
    <input type="number" step="0.05" name="price" value="<%= item.price %>" />
    <br>
    <label for=""> Quantity </label>
    <input type="number" name="quantity" value="<%= item.quantity %>" />
    <br>

    Units
    <select name="unit">
        <%
        let options = ["Select One", "Grams", "Ounces", "mL"]
        
        for (let i = 0; i < options.length; i++) {
            let selected = ( item.unit == i) ? "selected" : "Select One";
        %>
            <option value="<%=options[i] %>" selected="<%=selected %>">
                <%=options[i] %>
            </option>
        <% } %>
    </select>

    <div><br>
            <label> Business/Shop </label><br>
            <select name="shop"> <br>
                <option value="">Select One</option>
                <% shops.forEach(shop => { %>
                    
                <option value="<%= shop._id %>"><%= shop.shopname %> </option> 
                <% }) %>
            </select>
        </div>

        <div><br>
            <label> Location </label><br>
            <select name="location"> <br>
                <option value="">Select One</option>
                <% shops.forEach(shop => { %>
                <option value="<%= shop._id %>"> <%= shop.location %> </option>
                <% }) %>
            </select>
        </div>

    <div><br>
            <strong style="text-decoration: underline;">Conversion Reference</strong>
            <br>
            1 quart = 2 pints
            <br>
            1 gallon = 4 quarts
            <br>
            1 ounce = 28.35 grams
            <br>
            1 pound = 453.6 grams
            <br>
            1 pound = 16 ounces</div>
            <br>
    <button type="submit">Save Edit</button>
</form>