<!-- REVIEW ITEMS SEARCH VIEWS -->
<h2>Search results for: "<%= searched %>"</h2>
<br>
<table class="table">

    <thead class="thead-inverse">
        <tr>
            <th>No.</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price(SGD)</th>
            <th>Price/100g</th>
            <th>Business/Shop</th>
            <th>Location</th>
        </tr>
    </thead>

    <tbody>
        <% let i = 1; 
        searchResults.forEach(item => { %>
        <tr>
            <td> <%=i++%> </td>
            <td> <%= item.itemName %> </td>
            <td> <%= item.quantity %> <%= item.unit %> </td>
            <td>$<%= item.price.toFixed(2) %> </td>
            <td> </td>
            <td> <%= item.shop.shopname %> </td>
            <td> <%= item.shop.location %> </td>
            
        </tr>
        <% }) %>
    </tbody>

</table>